%body
  .container
    .jumbotron

      %h1 My projects

      -data.projects.each do |projects|
        %h4
          %a{href: "#{projects.url}"}
            = projects.name
          %p= projects[:description]
